# Werkcollege-opdrachten Week 1.1

## Maak een virtual environment

Zorg dat je met behulp van de handleiding *Bouw en gebruik van virtual environments - Handleiding* een virtual environment hebt gemaakt, dat jou en je duopartner garandeert altijd dezelfde versie van geïmporteerde dependencies te gebruiken.<br>
Voeg hier vervolgens de pandas- en de sqlite3-dependency aan toe.<br>
Als je dit allemaal goed hebt gedaan moet de onderstaande code bij jullie allebei succesvol runnen:

Index(['EXTENSION'], dtype='str')

In [1]:
import pandas as pd
import sqlite3
import warnings
warnings.simplefilter('ignore')

N.B.: de 2 reeds geschreven coderegels zorgen ervoor dat eventuele warnings, die code-outputs lelijker maken, uitgezet worden.

Zorg er daarnaast voor dat je...
- Het bestand Waarheidstabel.png in dezelfde map als dit notebook hebt staan.
- Het bestand Prinstabel.png in dezelfde map als dit notebook hebt staan.
- Alle informatie onder het kopje *Basisoperaties* van de cheatsheet *Van Java naar Python - Cheatsheet* bij de hand hebt.

## Output, variabelen en input

Geef code waarmee het volgende op het scherm komt te staan:<br>
geef me je geld <br>
of ik gebruik geweld, <br>
toen kwam de controle aangesneld

In [2]:
print("geef me je geld")
print("of ik gebruik geweld,")
print("toen kwam de controle aangesneld")

geef me je geld
of ik gebruik geweld,
toen kwam de controle aangesneld

Declareer 2 variabelen zodat de volgende tekst geprint wordt:<br>
Apenhoofd<br>
Paardenstaart

In [3]:
woord1 = "Apenhoofd"
woord2 = "Paardenstaart"

print(woord1)
print(woord2)

Apenhoofd
Paardenstaart

Voeg code toe zodat het programma het volgende doet:<br>
1): Op het scherm komt A, B, C, D, ..., F, G te staan<br>
2): De gebruiker voert een letter in<br>
3): Op het scherm komt te staan:<br>
Het is inderdaad:<br>
*ingevoerde letter*

In [4]:
print("A, B, C, D, ..., F, G")
userInput = str(input())
if(userInput == "E"):
    print("Het is inderdaad:")
    print(userInput)
else:
    print("Het is niet:")
    print (userInput)

A, B, C, D, ..., F, G
Het is inderdaad:
E

## Stringconcatenatie en Rekenen

Schrijf code dat een inkomen inleest en het volgende uitprint:<br>
Uw inkomen (*ingelezen inkomen*) is zeer acceptabel.

In [5]:
inkomen = int(input())

print(f"Uw inkomen ${inkomen:,} is zeer acceptabel.")

Uw inkomen $10 is zeer acceptabel.

De oppervlakte van een driehoek is 1/2 * hoogte * basis<br>
Schrijf code zodat het programma het volgende doet:<br>
1): Op het scherm komt Wat is de basis? te staan<br>
2): De gebruiker voert een basis in<br>
3): Op het scherm komt Wat is de hoogte? te staan<br>
4): De gebruiker voert een hoogte in<br>
5): Op het scherm komt: De oppervlakte van de driehoek is *berekende oppervlakte* te staan

In [6]:
# Wat is de basis?
print("Wat is de basis?")
basis = int(input())

# Wat is de hoogte?
print("Wat is de hoogte?")
hoogte = int(input())

oppervlakte = 0.5 * hoogte * basis

print("De oppervlakte van de driehoek is ", oppervlakte)

Wat is de basis?
Wat is de hoogte?
De oppervlakte van de driehoek is  400.0

## if() en booleans

Schrijf code dat het volgende doet:<br>
1): De gebruiker voert in hoe oud iemand is<br>
2): De gebruiker voert in of de ouders meegekomen zijn (input is J of N)<br><br>

Als...
- Jonger dan 6, wel ouders: op het scherm staat Je mag het zwembad in
- Jonger dan 6, geen ouders: op het scherm staat Je mag het niet zwembad in
- Leeftijd vanaf 6, geen ouders: op het scherm staat Je mag het zwembad in als je een diploma hebt
- Leeftijd vanaf 6, wel ouders: op het scherm staat Waarom neem je nog je ouders mee?

In [7]:
print("Hoe oud bent u?")
leeftijd = int(input())

print("Zijn u ouders meegekomen ? (J/N)")
ouders = str(input())

# Jonger dan 6, wel ouders 'Je mag het zwembad in'
if (leeftijd < 6 and ouders == 'J' ):
    print("Je mag het zwembad in")
# Jonger dan 6, geen ouders 'Je mag het zwembad niet in'
elif(leeftijd < 6 and ouders == 'N'):
    print("Je mag het zwembad niet in")
# Leeftijd >= 6, geen ouders, 'Je mag het zwembad in als je een diploma hebt'
elif(leeftijd >= 6 and ouders =='N'):
    print("Je mag het zwembad in als je een diploma hebt")
# Leeftijd >= 6, wel ouders, 'Waarom neem je nog ouders mee?'
elif(leeftijd >= 6 and ouders == 'J'):
    print("Waarom neem je nog ouders mee?")

Hoe oud bent u?
Zijn u ouders meegekomen ? (J/N)
Waarom neem je nog ouders mee?

Schrijf code zodat de boolean-variabelen een en twee aangemaakt worden en waarmee de juiste waarde in de boolean-variabele uitkomst komt te staan. In de waarheidstabel hieronder staat wat de waarde van uitkomst is bij de verschillende mogelijke combinaties van een en twee.<br><br>
<img src="Waarheidstabel.png">

In [8]:

een = False
twee = False

def Waarheidstabel(een, twee):
    ## waar waar = waar
    ## onwaar onwaar = waar
    if (een == twee):
        return "waar"
    # waar onwaar = onwaar
    # onwaar waar = onwaar
    elif(een != twee):
        return "onwaar"

print(Waarheidstabel(een, twee))

waar

## Functies

Schrijf een methode wachtwoord die als parameters twee woorden meekrijgt en het volgende controleert:
- Als de woorden gelijk zijn, print het programma gelijk.
- Als de woorden ongelijk zijn print het programma ongelijk.

Vergeet niet dat je de methode niet alleen aan moet maken, maar ook aan moet roepen om output te krijgen.

In [9]:
print("Typ uw eerste woord in:")
woord1 = str(input())
print("Typ uw tweede woord in:")
woord2 = str(input())

def vergelijkWoord(woord1, woord2):
    if (woord1 == woord2):
        return "Gelijk"
    else:
        return "Ongelijk"

print(vergelijkWoord(woord1, woord2))

Typ uw eerste woord in:
Typ uw tweede woord in:
Gelijk

Schrijf de methode zoekPrins die als parameter een prinses meekrijgt en vervolgens de bijbehorende prins oplevert, volgens de volgende tabel:<br><br>
<img src="Prinstabel.png"><br>
Als de naam van de prinses niet in de tabel staat wordt het volgende door de methode teruggegeven: naamloos.<br>
Roep ten slotte de gemaakte methode ook daadwerkelijk aan met een zelfgekozen prinsessennaam.

In [10]:
print("Voer uw prinses in:")
prinses = str(input())

def zoekPrins(prinses):
    match prinses:
        case "Aurora":
            return "Philip"
        case "Ariël":
            return "Eric"
        case "Jasmine":
            return "Aladdin"
        case "Pocahontas":
            return "John"
        case "Belle":
            return "Beast"
        case "Tiana":
            return "Naveen"
        case "Mulan":
            return "Shang"
        case _:
            return "naamloos"

print(zoekPrins(prinses))

Voer uw prinses in:
Beast

## While-loop

Schrijf de inhoud van de methode wachtwoord. Deze heeft geen parameters en laat de gebruiker twee wachtwoorden invoeren, waarna hij bekijkt of deze gelijk zijn. Zolang dat niet het geval is wordt er eerst Fout, probeer het opnieuw! uitgeprint en moet de gebruiker het opnieuw proberen.<br>Als de gebruiker het goed doet, komt er Succes! op het scherm te staan.

In [11]:
# Methode wachtwoord, geen parameters
# Gebruiker voor twee wachtwoorden in
# Zijn twee wachtwoorden gelijk?
# Niet goed, 'Fout, probeer het opnieuw!'
# Wel goed, 'Succes!'

def wachtwoord():
    incorrect = True

    while(incorrect):
        wachtwoord = str(input())
        wachtwoord1 = str(input())

        if(wachtwoord == wachtwoord1):
            print("Succes!")
            incorrect = False
        else:
            print("Fout, probeer het opnieuw!")

wachtwoord()

Succes!

Schrijf de inhoud van de methode tafels. De methode print alle tafels vanaf 1 (dus inclusief de tafel van 1) tot en met de tafel van het meegekregen getal (dus inclusief de tafel van getal).  Zet een witregel tussen alle tafels in. <br>
Let op:
- Gebruik een while-loop
- Gebruik de reeds geschreven methode tafel om een tafel uit te printen

In [12]:
def tafels(getal):
    # Print alle tafels vanaf 1 van het meegegeven getal

    teller = 1
    while (teller <= 10):
        antwoord = teller * getal
        print(f"{teller} x {getal} = {antwoord}")
        teller+=1

getal = int(input())
tafels(getal)

1 x 11 = 11
2 x 11 = 22
3 x 11 = 33
4 x 11 = 44
5 x 11 = 55
6 x 11 = 66
7 x 11 = 77
8 x 11 = 88
9 x 11 = 99
10 x 11 = 110

## For-loop

Vervang de while-loop door een werkende for-loop. De uitkomst van het programma mag daarbij niet veranderen.

In [13]:
def loopje():

    aantal = 0

    for i in range(0, 11):
        print(f"huidige getal: {aantal}")
        aantal += 1

loopje()

huidige getal: 0
huidige getal: 1
huidige getal: 2
huidige getal: 3
huidige getal: 4
huidige getal: 5
huidige getal: 6
huidige getal: 7
huidige getal: 8
huidige getal: 9
huidige getal: 10

Schrijf de methode checkEven die achtereenvolgens 12 getallen inleest en afdrukt hoe vaak het ingevoerde getal even was.

In [14]:
def checkEven ():
    
    aantalEven = 0

    for i in range(0, 12):
        getal = int(input())
        if(getal % 2 == 0):
            aantalEven += 1   
    print (f"Aantal even getallen: {aantalEven}")

checkEven()

Aantal even getallen: 12

## Objectoriëntatie

Maak een minisysteem voor een kledingwinkel. Maak verschillende klassen voor verschillende soorten kledingstukken, waarbij sommige klassen geërfd worden van andere klassen.
- Maak een klasse Kledingstuk aan, waarin door de constructor een merk, een maat en een prijs geïnitialiseerd worden.
- Maak een klasse Broek en een klasse Shirt, beide erven van de klasse Kledingstuk. Voeg aan Broek een broek_type, en aan Shirt een shirt_type toe (d.m.v. constructorgebruik).
- Maak een klasse Spijkerbroek die erft van broek en een klasse Poloshirt die erft van shirt. Voeg aan Spijkerbroek een blauwtint toe, en aan Poloshirt een kraagsoort (d.m.v. constructorgebruik).
- Implementeer in elke klasse een beschrijvingmethode, waarmee alle informatie over het betreffende kledingstuk wordt afgedrukt.
- Maak van elke klasse een object aan en roep de beschrijvingmethode aan. Controleer nauwkeurig of alles naar behoren werkt.

In [15]:
# 1. Maak een klasse kledingstuk aan. x
# In de constructor wordt een merk een maat en een prijs geïnitialiseerd worden. x
# 2.Maak een klasse Broek die erft van Kledingstuk, Broek krijgt een broek_type erbij x
# 3.Maak een klasse Spijkerbroek die erft van broek, voeg aan spijkerbroek een blauwtint toe. x
# 4.Maak een klasse Poloshirt die erft van shirt, voeg een kraagsoort toe.
# 5.Implementeer in elke klasse een beschrijvings methode, waarmee alle info over het betreffende kleding stuk wordt afgedrukt.
# 6. Maak van elk klasse een object, roep de beschrijvings methode aan.

class Kledingstuk:

    def __init__(self, merk, maat, prijs):
        self.merk = merk
        self.maat = maat
        self.prijs = prijs

    def toString(self):
        return f"Merk: {self.merk} Maat: {self.maat} Prijs: {self.prijs} "

class Broek(Kledingstuk):

    def __init__(self, merk, maat, prijs, broek_type):
        super().__init__(merk, maat, prijs)
        self.broek_type = broek_type
    
    def toString(self):
        return super().toString() + f"Broektype : {self.broek_type}"

class Shirt(Kledingstuk):

    def __init__(self, merk, maat, prijs, shirt_type):
        super().__init__(merk, maat, prijs)
        self.shirt_type = shirt_type
    
    def toString(self):
        return super().toString() + f"Shirt Type : {self.shirt_type}"

class Spijkerbroek(Broek):
    
    def __init__(self, merk, maat, prijs, broek_type):
        super().__init__(merk, maat, prijs, broek_type)
        self.kleur = "Blauw"
    
    def toString(self):
        return super().toString() + f"Kleur: {self.kleur}"

class Poloshirt(Shirt):
    def __init__(self, merk, maat, prijs, shirt_type, kraagsoort):
        super().__init__(merk, maat, prijs, shirt_type)
        self.kraagsoort = kraagsoort
    
    def toString(self):
        return super().toString() + f"Kraagsoort: {self.kraagsoort}"

# Kledingstuk.
kledingstuk = Kledingstuk("Carhart", 40, 89.99)
print(kledingstuk.toString())

#Broek
broek = Broek("Levis", 40, 95.00, "Oversized")
print(broek.toString())

#Spijkerbroek
spijkerbroek = Spijkerbroek("Tommy Hilfiger", 38, 120.00, "Skinny Jeans")
print(spijkerbroek.toString())

#Poloshirt
poloshirt = Poloshirt("Polo Ralph Lauren", "L", 200.00, "Polo", "Button-down kraag")
print(poloshirt.toString())

Merk: Carhart Maat: 40 Prijs: 89.99
Merk: Levis Maat: 40 Prijs: 95.0 Broektype : Oversized
Merk: Tommy Hilfiger Maat: 38 Prijs: 120.0 Broektype : Skinny JeansKleur: Blauw
Merk: Polo Ralph Lauren Maat: L Prijs: 200.0 Shirt Type : PoloKraagsoort: Button-down kraag

## Verzamelingen

Kijk nu naar alle info onder het kopje *Verzamelingen* van de cheatsheet *Van Java naar Python - Cheatsheet*.

Initialiseer een lijst met de naam mijn_lijst met de volgende waarden:<br>
Jelle, Marleen, Henk, Fatima, Jelle, Henk

In [16]:
mijn_lijst = ["Jelle", "Marleen", "Henk", "Fatima", "Jelle", "Henk"]
mijn_lijst

['Jelle', 'Marleen', 'Henk', 'Fatima', 'Jelle', 'Henk']

Probeer nu de eerste waarde uit te lijst te veranderen in een naam naar keuze. Lukt dat?

In [17]:
mijn_lijst[0] = mijn_lijst[0].replace("Jelle", "Jan")
mijn_lijst

['Jan', 'Marleen', 'Henk', 'Fatima', 'Jelle', 'Henk']

Maak van bovengenoemde lijst nu een tupel, genaamd: mijn_tupel.

In [18]:
mijn_tupel = tuple(mijn_lijst)
mijn_tupel

('Jan', 'Marleen', 'Henk', 'Fatima', 'Jelle', 'Henk')

Probeer nu de laatste waarde uit te tupel te veranderen in een naam naar keuze. Lukt dat?

In [19]:
#Nee ! Dit mag niet, want een tupel kan je niet wijzigen.
#Ik probeer het alsnog maar ik weet 100% zeker dat we een error krijgen.
mijn_tupel[0] = mijn_tupel[0].replace("Jan", "Hans")
mijn_tupel

TypeError: 'tuple' object does not support item assignment

Initialiseer een dictionary met de volgende key-value-combinaties:
- naam: "Jelle"
- leeftijd: 30
- beroep: "Docent"
- hobby: "Volleybal"

In [20]:
nieuwe_dictionary = {"Naam" : "Jelle", "Leeftijd" : 30, "Beroep" : "Docent", "Hobby" : "Volleybal"}
nieuwe_dictionary

{'Naam': 'Jelle', 'Leeftijd': 30, 'Beroep': 'Docent', 'Hobby': 'Volleybal'}

Probeer nu de naam te veranderen naar een naam naar keuze. Lukt dat?

In [21]:
nieuwe_dictionary["Naam"] = "van Barneveld"
nieuwe_dictionary

{'Naam': 'van Barneveld',
 'Leeftijd': 30,
 'Beroep': 'Docent',
 'Hobby': 'Volleybal'}

## Data klaarzetten

Zet de volgende bestanden in een makkelijk terug te vinden map:
- go_sales.sqlite
- go_crm.sqlite
- go_staff.sqlite

Bestudeer de bovenste 3 bestanden met DB Browser (SQLite) dat <a href="https://sqlitebrowser.org/dl/">hier</a> te downloaden is. Wat valt je op qua datatypen?<br>

## Databasetabel inlezen

Creëer een databaseconnectie met het bestand go_sales.sqlite. Let op: deze staat in de map "data", die op zijn beurt in de hoofdmap staat. Tip: met `"../"` in `connect()` kun je naar de bovenliggende map gaan.

In [22]:
#import sqlite3

#conn = sqlite3.connect("./go_sales.sqlite")

#2nd

import sqlite3

conn = sqlite3.connect("./go_sales.sqlite")

<b>Let goed op:</b><br>
Als je per ongeluk een verkeerde bestandsnaam ingeeft, maakt Python zélf een leeg databasebestand aan! Er ontstaat dan dus een nieuwe .sqlite, en dat is nadrukkelijk <u>niet de bedoeling.</u>

Gebruik de onderstaande sql_query om te achterhalen welke databasetabellen in go_sales zitten.

In [23]:
import pandas as pd

#sql_query = "SELECT name FROM sqlite_master WHERE type='table';"

#Vul dit codeblok verder in

#dataFrame = pd.read_sql_query(sql_query, conn)

#print(dataFrame)

sql_query = "SELECT name FROM sqlite_master WHERE type='table';"

#1. Lees de query in
#2. Dit doen we doormiddel van pd.read_sql() waar de query in moet staan, en ook de connectie.
#3. Print hem dan uit

pd.read_sql_query(sql_query, conn)

             name
0         country
1   order_details
2    order_header
3    order_method
4         product
5    product_line
6    product_type
7   retailer_site
8   return_reason
9   returned_item
10   sales_branch
11    sales_staff

Krijg je lege output? Dan heb je per ongeluk een leeg  databasebestand (.sqlite) aangemaakt.<br>
Lees de informatie onder het kopje <b>Let goed op:</b> hierboven nog eens goed door.

Gebruik de gecreëerde databaseconnectie om de resultaten van de volgende query in een DataFrame te zetten:<br>
*SELECT * FROM sales_staff*

In [24]:
new_query = "Select * FROM sales_staff"

#dataFrame = pd.read_sql_query(new_query, conn)

#print(dataFrame)

#dataFrame = pd.read_sql(new_query, conn)
#print(dataFrame)

dataFrame = pd.read_sql_query(new_query, conn)
dataFrame

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE
0,4,Denis,Pagé,Branch Manager,+33 1 68 94 52 20,325.0,+33 1 68 94 56 60,DPage@grtd123.com,1996-11-03,6
1,5,Élizabeth,Michel,Level 3 Sales Representative,+33 1 68 94 52 20,336.0,+33 1 68 94 56 60,EMichel@grtd123.com,1995-06-08,6
2,6,Émile,Clermont,Level 1 Sales Representative,+33 1 68 94 52 20,378.0,+33 1 68 94 56 60,EClermont@grtd123.com,1998-04-07,6
3,7,Étienne,Jauvin,Level 2 Sales Representative,+33 1 68 94 52 20,398.0,+33 1 68 94 56 60,EJauvin@grtd123.com,1997-08-16,6
4,12,Elsbeth,Wiesinger,Level 2 Sales Representative,+(49) 40 663 1990,1818.0,+(49) 40 663 4571,EWiesinger@grtd123.com,1997-02-27,13
...,...,...,...,...,...,...,...,...,...,...
97,120,Giele,Laermans,Level 1 Sales Representative,+32 16 20.73.21,1340.0,+32 16 20.73.32,GLaermans@grtd123.com,1999-11-15,38
98,121,François,De Crée,Level 1 Sales Representative,+32 16 20.73.21,1642.0,+32 16 20.73.32,FDecree@grtd123.com,1999-12-01,38
99,122,Yvette,Lattrez,Level 3 Sales Representative,+32 16 20.73.21,1633.0,+32 16 20.73.32,YLattrez@grtd123.com,1999-12-09,38
100,123,Willi,Seefelder,Level 2 Sales Representative,+(43) 13 79 56 32,325.0,+(43) 13 79 56 33,WSeefelder@grtd123.com,1998-10-28,39
101,124,Sabine,Grüner,Level 3 Sales Representative,+(43) 13 79 56 32,348.0,+(43) 13 79 56 33,SGruner@grtd123.com,1998-02-18,39

## Datumkolommen afhandelen

Zoals je misschien al hebt gezien in DB Browser, zijn datums als TEXT opgeslagen, en niet als DATE, DATETIME o.i.d. Hier moeten we dus nog even "typische datumkolommen" van maken. Dat doen we met de volgende code:

In [25]:
dataFrame['DATE_HIRED'] = pd.to_datetime(dataFrame['DATE_HIRED'])
dataFrame.dtypes

SALES_STAFF_CODE              int64
FIRST_NAME                      str
LAST_NAME                       str
POSITION_EN                     str
WORK_PHONE                      str
EXTENSION                   float64
FAX                             str
EMAIL                           str
DATE_HIRED           datetime64[us]
SALES_BRANCH_CODE             int64
dtype: object

Als we hier het jaar uit willen halen, schrijven we:

In [26]:
pd.DatetimeIndex(dataFrame['DATE_HIRED']).year
pd.DatetimeIndex(dataFrame['DATE_HIRED']).month
pd.DatetimeIndex(dataFrame['DATE_HIRED']).quarter
pd.DatetimeIndex(dataFrame['DATE_HIRED']).weekday
pd.DatetimeIndex(dataFrame['DATE_HIRED']).day

Index([ 3,  8,  7, 16, 27,  2, 12,  5,  3, 12,
       ...
       20, 17, 18, 10, 10, 15,  1,  9, 28, 18],
      dtype='int32', name='DATE_HIRED', length=102)

Deze zelfde syntax is te gebruiken voor het extraheren van kwartalen, maanden, weken en dagen. Probeer het maar eens!

## DataFrames uitsplitsen en opbouwen met Series

De volgende 5 kolommen hebben betrekking op de contactdetails van elke medewerker in dit DataFrame:
- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

Maak van elk van deze 5 kolommen een serie.

In [27]:
#salestaff = dataFrame['SALES_STAFF_CODE']
#workphone = dataFrame['WORK_PHONE']
#extension = dataFrame['EXTENSION']
#fax = dataFrame['FAX']
#email = dataFrame['EMAIL']

salestaff = dataFrame['SALES_STAFF_CODE']
workphone = dataFrame['WORK_PHONE']
extension = dataFrame['EXTENSION']
fax = dataFrame['EXTENSION']
email = dataFrame['EMAIL']

Zet allevijf gecreëerde series als kolommen naast elkaar in een DataFrame (*contact_details*). Gebruik pd.concat(...)<br>
Hulpvraag: welke waarde geef je aan de axis-parameter?

In [28]:
#contact_details = pd.concat([salestaff, workphone, extension, fax, email], axis = 1)

#contact_details

contact_details = pd.concat([salestaff, workphone, extension, fax, email], axis = 1)
contact_details

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,EXTENSION,EMAIL
0,4,+33 1 68 94 52 20,325.0,325.0,DPage@grtd123.com
1,5,+33 1 68 94 52 20,336.0,336.0,EMichel@grtd123.com
2,6,+33 1 68 94 52 20,378.0,378.0,EClermont@grtd123.com
3,7,+33 1 68 94 52 20,398.0,398.0,EJauvin@grtd123.com
4,12,+(49) 40 663 1990,1818.0,1818.0,EWiesinger@grtd123.com
...,...,...,...,...,...
97,120,+32 16 20.73.21,1340.0,1340.0,GLaermans@grtd123.com
98,121,+32 16 20.73.21,1642.0,1642.0,FDecree@grtd123.com
99,122,+32 16 20.73.21,1633.0,1633.0,YLattrez@grtd123.com
100,123,+(43) 13 79 56 32,325.0,325.0,WSeefelder@grtd123.com
101,124,+(43) 13 79 56 32,348.0,348.0,SGruner@grtd123.com

## Series en DataFrames maken vanuit lists en dictionaries

Met .head(*getal*) kan je de bovenste *getal* rijen van een tabel selecteren.<br>
Selecteer op deze manier de bovenste 5 rijen van *contact_details*.<br>
Sla dit resultaat op in een nieuw DataFrame.

In [29]:
new_dataFrame = contact_details.head(5)

new_dataFrame

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,EXTENSION,EMAIL
0,4,+33 1 68 94 52 20,325.0,325.0,DPage@grtd123.com
1,5,+33 1 68 94 52 20,336.0,336.0,EMichel@grtd123.com
2,6,+33 1 68 94 52 20,378.0,378.0,EClermont@grtd123.com
3,7,+33 1 68 94 52 20,398.0,398.0,EJauvin@grtd123.com
4,12,+(49) 40 663 1990,1818.0,1818.0,EWiesinger@grtd123.com

Aan deze 10 rijen met contactdetails willen we 3 kolommen toevoegen: 'FIRST_LANGUAGE', 'SECOND_LANGUAGE' & 'THIRD_LANGUAGE'.<br>
Iedereens 'First Language' is Engels, afgekort 'EN'. Maak een lijst waarin 5x 'EN' staat.<br>
Converteer deze lijst vervolgens naar een serie en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [30]:
# Aan deze rijen willen we 3 kolommen toevoegen:
# 1. 'FIRST_LANGUAGE' = EN
# 2. 'SECOND_LANGUAGE'
# 3. 'THIRD_LANGUAGE'

# 4. Maak een lijst waarin 5x 'EN' staat.
# 5. Converteer deze lijst naar een serie.
# 6. Voeg deze horizontaal samen met het resultaat van de vorige opdracht.

new_first_language_list = ['EN', 'EN', 'EN', 'EN', 'EN']
serie = pd.Series(new_first_language_list, name = "FIRST_LANGUAGE")
serie

samenvoeging = pd.concat([new_dataFrame, serie], axis = 1)
samenvoeging

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,EXTENSION,EMAIL,FIRST_LANGUAGE
0,4,+33 1 68 94 52 20,325.0,325.0,DPage@grtd123.com,EN
1,5,+33 1 68 94 52 20,336.0,336.0,EMichel@grtd123.com,EN
2,6,+33 1 68 94 52 20,378.0,378.0,EClermont@grtd123.com,EN
3,7,+33 1 68 94 52 20,398.0,398.0,EJauvin@grtd123.com,EN
4,12,+(49) 40 663 1990,1818.0,1818.0,EWiesinger@grtd123.com,EN

Maak nu de tweede kolom ('SECOND_LANGUAGE'). Maak daarvoor een dictionary, met daarin...
- Als keys: alle indexen uit het resultaat van het vorige codeblok.
- Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).

Maak vervolgens ook hier weer een serie van en voeg ook deze weer horizontaal samen met het rsultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [31]:
# Nieuwe dictionary.
new_second_language_dictionary = {  
    0: 'FR',
    1: 'FR',
    2: 'FR',
    3: 'DE',
    4: 'DE',
}

#Maak een serie van de nieuwe lijst =.
nieuwe_kolom = pd.Series(new_second_language_dictionary, name = "SECOND_LANGUAGE")

#Voeg dit horizontaal toe met het resultaat van de vorige opdracht

samenvoeging1 = pd.concat([samenvoeging, nieuwe_kolom], axis = 1)
samenvoeging1

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,EXTENSION,EMAIL,FIRST_LANGUAGE,SECOND_LANGUAGE
0,4,+33 1 68 94 52 20,325.0,325.0,DPage@grtd123.com,EN,FR
1,5,+33 1 68 94 52 20,336.0,336.0,EMichel@grtd123.com,EN,FR
2,6,+33 1 68 94 52 20,378.0,378.0,EClermont@grtd123.com,EN,FR
3,7,+33 1 68 94 52 20,398.0,398.0,EJauvin@grtd123.com,EN,DE
4,12,+(49) 40 663 1990,1818.0,1818.0,EWiesinger@grtd123.com,EN,DE

Maak ten slotte de derde kolom ('THIRD_LANGUAGE') door een dictionary te maken met daarin...
- Als key: de naam van de nieuwe kolom. Zie je het verschil qua keys met de vorige opdracht?
- Als waarde: een lijst met daarin 'NL', 'NL', 'JPN', 'JPN', 'KOR'.

Converteer deze dictionary nu naar een DataFrame en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Waarom hoef je hierna de nieuw ontstane kolom geen passende naam meer te geven?

In [32]:
new_third_language_dictionary = {
    "THIRD_LANGUAGE" : ['NL', 'NL', 'JPN', 'JPN', 'KOR']
}

nieuwe_kolom = pd.DataFrame(new_third_language_dictionary)

resultaat = pd.concat([samenvoeging1, nieuwe_kolom], axis = 1)
resultaat

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,EXTENSION,EMAIL,FIRST_LANGUAGE,SECOND_LANGUAGE,THIRD_LANGUAGE
0,4,+33 1 68 94 52 20,325.0,325.0,DPage@grtd123.com,EN,FR,NL
1,5,+33 1 68 94 52 20,336.0,336.0,EMichel@grtd123.com,EN,FR,NL
2,6,+33 1 68 94 52 20,378.0,378.0,EClermont@grtd123.com,EN,FR,JPN
3,7,+33 1 68 94 52 20,398.0,398.0,EJauvin@grtd123.com,EN,DE,JPN
4,12,+(49) 40 663 1990,1818.0,1818.0,EWiesinger@grtd123.com,EN,DE,KOR

## Data toevoegen

### Rijen

Gebruik de originele databasetabel *sales_staff*.<br>
Voeg een extra rij toe met eigen invulling. Zorg ervoor dat de index netjes doorloopt.<br>
Hulpvraag: welke waarde geef je nu aan axis?

In [41]:
nieuwe_staff = { 
    'SALES_STAFF_CODE': 9000,
    'WORK_PHONE': '+316811494', 
    'EXTENSION': 10, 
    'EMAIL': 'nieuw@grtd123.com',
    'FIRST_LANGUAGE': 'EN', 
    'SECOND_LANGUAGE' : 'FR', 
    'THIRD_LANGUAGE' : 'KOR'
}

nieuwe_rij = pd.DataFrame([nieuwe_staff])

pleasework = pd.concat([resultaat, nieuwe_rij], axis=0, ignore_index=True)

pleasework

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,EMAIL,FIRST_LANGUAGE,SECOND_LANGUAGE,THIRD_LANGUAGE
0,4,+33 1 68 94 52 20,325.0,DPage@grtd123.com,EN,FR,NL
1,5,+33 1 68 94 52 20,336.0,EMichel@grtd123.com,EN,FR,NL
2,6,+33 1 68 94 52 20,378.0,EClermont@grtd123.com,EN,FR,JPN
3,7,+33 1 68 94 52 20,398.0,EJauvin@grtd123.com,EN,DE,JPN
4,12,+(49) 40 663 1990,1818.0,EWiesinger@grtd123.com,EN,DE,KOR
5,9000,+316811494,10.0,nieuw@grtd123.com,EN,FR,KOR

### Kolommen

Voeg een kolom *FULL_NAME* toe die de waarden van *FIRST_NAME* en *LAST_NAME* achter elkaar zet, gescheiden door een spatie.

In [44]:
# In de laatste kopie 'pleasework'
# Vinden we natuurlijk de key 'FULL_NAME niet.
# Daarom heb ik de eerste waarde weer gepakt.
# Zodat we ook alle keys weer hebben.

dataFrame['FULL_NAME'] = dataFrame['FIRST_NAME'] + " " + dataFrame['LAST_NAME']

dataFrame

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,FULL_NAME
0,4,Denis,Pagé,Branch Manager,+33 1 68 94 52 20,325.0,+33 1 68 94 56 60,DPage@grtd123.com,1996-11-03,6,Denis Pagé
1,5,Élizabeth,Michel,Level 3 Sales Representative,+33 1 68 94 52 20,336.0,+33 1 68 94 56 60,EMichel@grtd123.com,1995-06-08,6,Élizabeth Michel
2,6,Émile,Clermont,Level 1 Sales Representative,+33 1 68 94 52 20,378.0,+33 1 68 94 56 60,EClermont@grtd123.com,1998-04-07,6,Émile Clermont
3,7,Étienne,Jauvin,Level 2 Sales Representative,+33 1 68 94 52 20,398.0,+33 1 68 94 56 60,EJauvin@grtd123.com,1997-08-16,6,Étienne Jauvin
4,12,Elsbeth,Wiesinger,Level 2 Sales Representative,+(49) 40 663 1990,1818.0,+(49) 40 663 4571,EWiesinger@grtd123.com,1997-02-27,13,Elsbeth Wiesinger
...,...,...,...,...,...,...,...,...,...,...,...
97,120,Giele,Laermans,Level 1 Sales Representative,+32 16 20.73.21,1340.0,+32 16 20.73.32,GLaermans@grtd123.com,1999-11-15,38,Giele Laermans
98,121,François,De Crée,Level 1 Sales Representative,+32 16 20.73.21,1642.0,+32 16 20.73.32,FDecree@grtd123.com,1999-12-01,38,François De Crée
99,122,Yvette,Lattrez,Level 3 Sales Representative,+32 16 20.73.21,1633.0,+32 16 20.73.32,YLattrez@grtd123.com,1999-12-09,38,Yvette Lattrez
100,123,Willi,Seefelder,Level 2 Sales Representative,+(43) 13 79 56 32,325.0,+(43) 13 79 56 33,WSeefelder@grtd123.com,1998-10-28,39,Willi Seefelder
101,124,Sabine,Grüner,Level 3 Sales Representative,+(43) 13 79 56 32,348.0,+(43) 13 79 56 33,SGruner@grtd123.com,1998-02-18,39,Sabine Grüner

## Data wijzigen

### Datatypen

Door het attribuut .dtypes van een DataFrame op te vragen krijg je een serie die per kolom het datatype weergeeft. Doe dit bij de originele databasetabel *sales_staff*

In [ ]:
#Ik neem aan dat ik nog steeds mijn eerste variabele mag gebruiken en niet persé een nieuwe hoef aan te maken.
#Daarom pak ik weer mijn originele variable en zet ik daar .dtypes achter.

dataFrame.dtypes

SALES_STAFF_CODE              int64
FIRST_NAME                      str
LAST_NAME                       str
POSITION_EN                     str
WORK_PHONE                      str
EXTENSION                   float64
FAX                             str
EMAIL                           str
DATE_HIRED           datetime64[us]
SALES_BRANCH_CODE             int64
FULL_NAME                       str
dtype: object

Hier valt op dat elke kolom het datatype 'object' heeft: Python leest dus alles als string. Wiskundige operaties zijn hierdoor niet mogelijk.<br>
We kunnen proberen om kolommen met getallen, bijvoorbeeld de 'extension', te converteren naar een int. Zie onderstaande code.

In [46]:
#sales_staff = dataFrame geworden door mijn code.

dataFrame['EXTENSION'] = dataFrame['EXTENSION'].astype(int)
dataFrame.dtypes

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer.Replace or remove non-finite values or cast to an integer typethat supports these values (e.g. 'Int64')

Dit lukt echter niet, omdat er in de kolom 'EXTENSION' lege waarden zitten die niet geconverteerd kunnen worden naar een int.<br>
Wél kan je deze naar een float converteren, zie onderstaande code:

In [47]:
#sales_staff = dataFrame geworden door mijn code.

dataFrame['EXTENSION'] = dataFrame['EXTENSION'].astype(float)
dataFrame.dtypes

SALES_STAFF_CODE              int64
FIRST_NAME                      str
LAST_NAME                       str
POSITION_EN                     str
WORK_PHONE                      str
EXTENSION                   float64
FAX                             str
EMAIL                           str
DATE_HIRED           datetime64[us]
SALES_BRANCH_CODE             int64
FULL_NAME                       str
dtype: object

Als we in de rij van 'EXTENSION' kijken zien we dat de conversie van het datatype nu is gelukt.<br>
Dit is <b>randvoorwaardelijk</b> voor het uitvoeren van wiskundige operaties.<br>

### Rijen

Zorg er nu voor dat bij alle extensions 1 wordt opgeteld.

In [ ]:
#1. Pak de key, tel er +1 bij op.

dataFrame['EXTENSION'] += 1

dataFrame

# 325.0 bij index 0 is nu 326.0 geworden

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,FULL_NAME
0,4,Denis,Pagé,Branch Manager,+33 1 68 94 52 20,326.0,+33 1 68 94 56 60,DPage@grtd123.com,1996-11-03,6,Denis Pagé
1,5,Élizabeth,Michel,Level 3 Sales Representative,+33 1 68 94 52 20,337.0,+33 1 68 94 56 60,EMichel@grtd123.com,1995-06-08,6,Élizabeth Michel
2,6,Émile,Clermont,Level 1 Sales Representative,+33 1 68 94 52 20,379.0,+33 1 68 94 56 60,EClermont@grtd123.com,1998-04-07,6,Émile Clermont
3,7,Étienne,Jauvin,Level 2 Sales Representative,+33 1 68 94 52 20,399.0,+33 1 68 94 56 60,EJauvin@grtd123.com,1997-08-16,6,Étienne Jauvin
4,12,Elsbeth,Wiesinger,Level 2 Sales Representative,+(49) 40 663 1990,1819.0,+(49) 40 663 4571,EWiesinger@grtd123.com,1997-02-27,13,Elsbeth Wiesinger
...,...,...,...,...,...,...,...,...,...,...,...
97,120,Giele,Laermans,Level 1 Sales Representative,+32 16 20.73.21,1341.0,+32 16 20.73.32,GLaermans@grtd123.com,1999-11-15,38,Giele Laermans
98,121,François,De Crée,Level 1 Sales Representative,+32 16 20.73.21,1643.0,+32 16 20.73.32,FDecree@grtd123.com,1999-12-01,38,François De Crée
99,122,Yvette,Lattrez,Level 3 Sales Representative,+32 16 20.73.21,1634.0,+32 16 20.73.32,YLattrez@grtd123.com,1999-12-09,38,Yvette Lattrez
100,123,Willi,Seefelder,Level 2 Sales Representative,+(43) 13 79 56 32,326.0,+(43) 13 79 56 33,WSeefelder@grtd123.com,1998-10-28,39,Willi Seefelder
101,124,Sabine,Grüner,Level 3 Sales Representative,+(43) 13 79 56 32,349.0,+(43) 13 79 56 33,SGruner@grtd123.com,1998-02-18,39,Sabine Grüner

Elke 'Branch Manager' wordt nu 'General Manager'. Schrijf code zodat deze wijziging doorgevoerd wordt in het DataFrame.

In [49]:
# Hiermee kunnen we een rij wijzigen, helaas worden nu wel alle branch managers een general manager.
dataFrame = dataFrame.replace('Branch Manager', 'General Manager')
dataFrame

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,FULL_NAME
0,4,Denis,Pagé,General Manager,+33 1 68 94 52 20,326.0,+33 1 68 94 56 60,DPage@grtd123.com,1996-11-03,6,Denis Pagé
1,5,Élizabeth,Michel,Level 3 Sales Representative,+33 1 68 94 52 20,337.0,+33 1 68 94 56 60,EMichel@grtd123.com,1995-06-08,6,Élizabeth Michel
2,6,Émile,Clermont,Level 1 Sales Representative,+33 1 68 94 52 20,379.0,+33 1 68 94 56 60,EClermont@grtd123.com,1998-04-07,6,Émile Clermont
3,7,Étienne,Jauvin,Level 2 Sales Representative,+33 1 68 94 52 20,399.0,+33 1 68 94 56 60,EJauvin@grtd123.com,1997-08-16,6,Étienne Jauvin
4,12,Elsbeth,Wiesinger,Level 2 Sales Representative,+(49) 40 663 1990,1819.0,+(49) 40 663 4571,EWiesinger@grtd123.com,1997-02-27,13,Elsbeth Wiesinger
...,...,...,...,...,...,...,...,...,...,...,...
97,120,Giele,Laermans,Level 1 Sales Representative,+32 16 20.73.21,1341.0,+32 16 20.73.32,GLaermans@grtd123.com,1999-11-15,38,Giele Laermans
98,121,François,De Crée,Level 1 Sales Representative,+32 16 20.73.21,1643.0,+32 16 20.73.32,FDecree@grtd123.com,1999-12-01,38,François De Crée
99,122,Yvette,Lattrez,Level 3 Sales Representative,+32 16 20.73.21,1634.0,+32 16 20.73.32,YLattrez@grtd123.com,1999-12-09,38,Yvette Lattrez
100,123,Willi,Seefelder,Level 2 Sales Representative,+(43) 13 79 56 32,326.0,+(43) 13 79 56 33,WSeefelder@grtd123.com,1998-10-28,39,Willi Seefelder
101,124,Sabine,Grüner,Level 3 Sales Representative,+(43) 13 79 56 32,349.0,+(43) 13 79 56 33,SGruner@grtd123.com,1998-02-18,39,Sabine Grüner

### Kolommen

Verander de kolomnaam 'POSITION_EN' naar 'POSITION'.

In [53]:
# rename, columns = {} voor een kolomnaam 
dataFrame = dataFrame.rename(columns = {'POSITION_EN' : 'POSITION'})
dataFrame

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,FULL_NAME
0,4,Denis,Pagé,General Manager,+33 1 68 94 52 20,326.0,+33 1 68 94 56 60,DPage@grtd123.com,1996-11-03,6,Denis Pagé
1,5,Élizabeth,Michel,Level 3 Sales Representative,+33 1 68 94 52 20,337.0,+33 1 68 94 56 60,EMichel@grtd123.com,1995-06-08,6,Élizabeth Michel
2,6,Émile,Clermont,Level 1 Sales Representative,+33 1 68 94 52 20,379.0,+33 1 68 94 56 60,EClermont@grtd123.com,1998-04-07,6,Émile Clermont
3,7,Étienne,Jauvin,Level 2 Sales Representative,+33 1 68 94 52 20,399.0,+33 1 68 94 56 60,EJauvin@grtd123.com,1997-08-16,6,Étienne Jauvin
4,12,Elsbeth,Wiesinger,Level 2 Sales Representative,+(49) 40 663 1990,1819.0,+(49) 40 663 4571,EWiesinger@grtd123.com,1997-02-27,13,Elsbeth Wiesinger
...,...,...,...,...,...,...,...,...,...,...,...
97,120,Giele,Laermans,Level 1 Sales Representative,+32 16 20.73.21,1341.0,+32 16 20.73.32,GLaermans@grtd123.com,1999-11-15,38,Giele Laermans
98,121,François,De Crée,Level 1 Sales Representative,+32 16 20.73.21,1643.0,+32 16 20.73.32,FDecree@grtd123.com,1999-12-01,38,François De Crée
99,122,Yvette,Lattrez,Level 3 Sales Representative,+32 16 20.73.21,1634.0,+32 16 20.73.32,YLattrez@grtd123.com,1999-12-09,38,Yvette Lattrez
100,123,Willi,Seefelder,Level 2 Sales Representative,+(43) 13 79 56 32,326.0,+(43) 13 79 56 33,WSeefelder@grtd123.com,1998-10-28,39,Willi Seefelder
101,124,Sabine,Grüner,Level 3 Sales Representative,+(43) 13 79 56 32,349.0,+(43) 13 79 56 33,SGruner@grtd123.com,1998-02-18,39,Sabine Grüner

## Data verwijderen

### Rijen

De medewerkers op indexen 98, 99 en 100 hebben helaas ontslag genomen.<br>
Verwijder de bijbehorende rijen uit het DataFrame. Gebruik slechts één keer de .drop()-methode.

In [56]:
# We doen axis = 0 omdat we de gehele rij natuurlijk willen verwijderen.
# Ik hoop dat dit zo werkt en dat ik meerdere indexen kan verwijderen hiermee.

dataFrame = dataFrame.drop([98, 99, 100], axis = 0)
dataFrame

# Nee kan dus niet.
# Ah ik moet goed onthouden, dat ik een lijst moet maken

KeyError: '[98, 99, 100] not found in axis'

### Kolommen

Faxen zijn inmiddels ouderwets: niemand gebruikt zijn/haar faxnummer nog.<br>
Verwijder de bijbehorende kolom uit het DataFrame.